{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block extra_css %}
    
{% endblock %}

{% block page_title %} Bienvenido {% endblock %}

{% block menus %}

{% endblock %}
  <!--Caja-->
  {% block contenido %} 
  <main class=main>

    <div class="message">
      <h3>Hola</h3>
      <h4>Prueba
      </h4>
    </div>
    
    
    <!-- Create book button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Craer camera
    </button>
   
  </main>
  {% endblock %}